<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Event Map</h1>
  <h4>
    This app is developed by
    <a href="http://hujo.deri.ie/">Digital Humanities and Journalism</a>
    working group at DERI.
  </h4>
 </div>
