<li id="<%= tweet_item.id %>">
  <!--
  <blockquote class="twitter-tweet"><p>Our immigration system is broken. Tell the House of Representatives: <a href="https://twitter.com/search?q=%23ActOnReform&amp;src=hash">#ActOnReform</a>. <a href="http://t.co/mm1oYyZKyd">http://t.co/mm1oYyZKyd</a></p>&mdash; Barack Obama (@BarackObama) <a href="https://twitter.com/BarackObama/statuses/393031922433011712">October 23, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  -->
  
  <span class="user">
    <%= link_to tweet_item.twitter_screen_name, tweet_item.twitter_screen_name %>
  </span>
  <span class="content"><%= tweet_item.twitter_text %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(tweet_item.created_at) %> ago.
  </span>
  
</li>
